@import './library';
body{
    background: $bg-color;
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
}

#app{
    margin: 0 auto;
    max-width: 1000px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
}

.button{
    width: 150px;
    padding: 15px;
    background-color: transparent;
    color: $white-color;
    cursor: pointer;
    box-shadow: 3px 3px 12px black;
    transition: $transition;
    border: 1px solid $gray-color;
    &:hover{
        box-shadow: 1px 1px 8px black;
    }
}