$bg-primary: linear-gradient(90deg, #2606A6 -1.41%, #9A0AB1 35.15%, #FF003D 100%);
$button: rgba(251, 100, 107, 0.6);
$button-hover: rgba(251, 100, 107, 0.8);
$button-active: rgba(251, 100, 107, 1);
$button-disabled: rgba(251, 100, 107, 0.1);


